html {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  width: 70%;
  height: 100%;
  font-family: Arial, serif;
  margin-left: calc(100% - 75%);
  padding-left: 0;
  font-size: 1rem;
  color: rgb(71, 66, 66);
  position: relative;
  left: 50px;
  overflow-x: hidden;
}

#navbar {
  height: 100%;
  width: calc(100% - 75%);
  position: fixed;
  top: 0;
  left: 0;
  border-right: 3px solid #808080;
  overflow-y: auto;
  font-size: 1.3rem;
}

.divider {
  border-top: 1px solid #808080;
}

ul > li > a {
  color: rgb(71, 66, 66);
  cursor: pointer;
}

#navbar > ul > li, header:nth-child(1) {
  list-style: none;
  margin: 1rem;
}

ul > li > a:hover {
  text-transform: none;
  color: #0000ff;
}

.main-section {
  margin: 2rem auto;
  padding: 0;
  letter-spacing: 0.35;
  line-height: 1.5;
}

header {
  font-size: 1.6rem;
  color: #000000;
  margin: 1rem auto;
  padding: 0 auto;
}

p {
  font-size: inherit;
  margin: 0.7rem auto;
  padding: 0;

}

 ul > li {
  list-style: square;
}

span {
  color: #5505ff;
}

code {
  color:#0050ff
}

a {
  color: #0000ff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-transform: uppercase;
  color: #000000;
}
